/**
* Plugin Name: Slick Logo Slider
* Plugin URI: http://127.0.0.1/plugins/myplugin/
* Description: Slick logo slider using Bootstrap
* Version: 1.0
* Author: Iwan Prasetiyo
* Author URI: https://tukarpengetahuan.com/
* License: GPL2
*/

.sl-main-body {
  float: left;
  width: 100%;
  height: auto;
}

.sl-left-body-title {
  float: left;
  width: 82%;
  height: auto;
  margin-top: 20px;
}

.sl-main-settings {
  margin-top: 20px;
}

.sl-left-settings-body,
.sl-left-body {
  float: left;
  width: 100%;
  height: auto;
}

.sl-left-plugin-body input[type="text"] {
  width: 100%;
}

.sl-left-plugin-body input[type="text"],
.sl-settings input[type="text"] {
  border: 1px solid #CCC;
  padding-left: 5px;
  height: 27px;
  font-size: 14px;
}

.sl-left-plugin-body input[type="submit"],
.sl-settings input[type="submit"] {
  background: none repeat scroll 0 0 #2EA2CC;
  border: 1px solid #0074A2;
  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  padding: 4px 10px;
  font-family: Arial;
  font-size: 13px;
  cursor: pointer;
}

.sl-left-plugin-body label,
.sl-settings label {
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  cursor: default;
  color: #000;
}

.sl-upload-button {
  background: none repeat scroll 0 0 #2EA2CC;
  border: 1px solid #0074A2;
  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  margin: 0 10px;
  padding: 4px 10px;
  font-family: Arial;
  font-size: 13px;
  cursor: pointer;
}

.sl-left-body-heading {
  background-color: #FFF;
  border-bottom:1px solid #DFDFDF;
  color: #464646;
  cursor: pointer;
  font-size: 13px;
  text-shadow: 0 1px 0 #FFFFFF;
}

.sl-left-body-heading h3 {
  font-family: Arial;
  font-size: 17px;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  padding: 10px 10px;
  white-space: nowrap;
  cursor: default;
  font-weight: bold;
}

.sl-left-plugin-body,
.sl-settings {
  float: left;
  width: 100%;
  height: auto;
  padding-top: 16px;
  padding-bottom: 10px;
  background-color: #FFF;
}

.sl-left-box {
  float: left;
  width: 97.6%;
  height: auto;
  margin-left: 12px;
  margin-bottom: 12px;
}

.sl-left-body,
.sl-data-body {
  margin-top: 30px;
}

.sl-data-body {
  float: left;
  width: 100%;
  height: auto;
}

.sl-data-body table {
  background-color: #FFF;
}

.sl-data-heading {
  border-bottom: 1px solid #d6d5d5;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0 10px 6px;
}

.sl-data-footer {
  border-top: 1px solid #d6d5d5;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0 10px 6px;
}

.sl-data-text {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
}

.sl-data-body input[type="text"] {
  border: 1px solid #CCC;
  padding-left: 5px;
  margin-right: 2px;
  width: 90%;
  height: 27px;
  font-size: 14px;
}

.sl-data-body img {
  border: 1px solid #CCC;
  padding: 6px;
}

.sl-data-body span {
  font-family: Arial;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  cursor: default;
  color: #000;
  display: inline-block;
  border: 1px solid #CCC;
  width: 98.8%;
  padding: 12px 0 12px 12px;
}

#sl-sort-image input[type="submit"] {
  background: none repeat scroll 0 0 #2EA2CC;
  border: 1px solid #0074A2;
  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  padding: 4px 10px;
  font-family: Arial;
  font-size: 13px;
  cursor: pointer;
}

a.sl-admin-del-btn {
  background: none repeat scroll 0 0 #f7f7f7;
  border-color: #ccc;
  box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
  color: #555;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
  text-decoration: none;
  white-space: nowrap;
}

.sl-data-body a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 992px) and (max-width: 1999px){ 

}